NET "CLK_USB"  LOC = "P18"  ;
NET "USB_FWRn"  LOC = "P29"  ;
NET "USB_FRDn"  LOC = "P26"  ;
NET "USB_D<0>"  LOC = "P67"  ;
NET "USB_D<1>"  LOC = "P62"  ;
NET "USB_D<2>"  LOC = "P60"  ;
NET "USB_D<3>"  LOC = "P57"  ;
NET "USB_D<4>"  LOC = "P39"  ;
NET "USB_D<5>"  LOC = "P44"  ;
NET "USB_D<6>"  LOC = "P46"  ;
NET "USB_D<7>"  LOC = "P49"  ;

# TO DO: define the assignments for "datain" and "dataout"